<!DOCTYPE html>
<html>

<head>
    <title>Dermsnap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html,
        body {
            height: 100%;
        }
        body {
            font-family: 'Spectral';
        }
    </style>
</head>

<body class="flex flex-col">
    <div class="flex items-center justify-center mt-8">
        <img src="/logo-mg-sm.png" alt="Dermsnap logo" class="h-16 w-16 -ml-8">
        <h1 class="text-4xl">Dermsnap</h1>
    </div>
    
    {{embed}}
</body>

</html>